@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	text-align: center;
	background: url("https://www.cmalliance.org/images/hook/hook-hope.jpg") fixed;
	background-size: cover;
	text-align: center;
}

nav {
	width: 100%;
	height: 10px;
	background: #E8C66A;
	color: white;
	text-align: left;
	font-size: 10px;
	padding: 15px;
	word-spacing: 35px;
	text-indent: 35px;
	position: fixed;
	top: 0;
	left: 0;
}

h1 {
	font-weight: bolder;
	font-size: 700%;
	font-family: 'Pacifico';
	color: #696969;
}

p{
	text-shadow: .35px .35px #fff;
	font-family: 'Raleway';
	font-size: 22px;
	line-height: 30px;
	margin: 2em;
	color: #548092;
}

one {
	background-color: #FFE2B8;
}

hr {
  width: 900px;
}

button {
    background-color: #696969; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

footer {
	background-color: FF957E;
	 border: 1px black solid;
    padding: 20px;
}